version: '3.7'

services:
  postgres:
    image: postgres:14.13-alpine
    environment:
      - POSTGRES_USER=test
      - POSTGRES_DB=test
      - POSTGRES_PASSWORD=password
      - POSTGRES_HOST_AUTH_METHOD=scram-sha-256
    ports:
      - 5432:5432

  postgres-ssl:
    image: postgres:14.13-alpine
    environment:
      - POSTGRES_USER=test
      - POSTGRES_DB=test
      - POSTGRES_PASSWORD=password
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - 5434:5432
    volumes:
      - ./test/certs:/certs
    entrypoint: sh
    command: |
      -c "cp /certs/* /var/lib/postgresql/ && /bin/chown postgres /var/lib/postgresql/server.key && /bin/chmod 0600 /var/lib/postgresql/server.key &&
      docker-entrypoint.sh postgres -c 'ssl=on' -c 'ssl_cert_file=/var/lib/postgresql/server.crt' -c 'ssl_key_file=/var/lib/postgresql/server.key'"
