{erl_opts, [debug_info]}.

{deps, [backoff]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},
                    {deps, [{proper, "1.2.0"}, jsx]}]}]}.

{shell, [{apps, [pgo]},
         {config, "config/example.config"}]}.

{overrides, [{override, backoff, [{plugins, []}]}]}.

{project_plugins, [{rebar3_proper, {git, "https://github.com/ferd/rebar3_proper.git", {branch, "master"}}}]}.
