{erl_opts, [debug_info]}.

{deps, [backoff]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},
                    {deps, [{proper, "1.2.0"}, jsx]}]}]}.

{shell, [{apps, [pgo]},
         {config, "config/example.config"}]}.

{overrides, [{override, backoff, [{plugins, []}]}]}.

{project_plugins, [rebar3_proper, coveralls]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "circle-ci"}.

{xref_checks,[undefined_function_calls, undefined_functions, locals_not_used,
              deprecated_function_calls, deprecated_functions]}.
