{erl_opts, [debug_info]}.

{deps, [{backoff, "~> 1.1.6"},
        {pg_types, "~> 0.4.0"},
        {telemetry, "~> 0.4.0"},
        {opentelemetry_api, {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang",
                             {branch, "master"},
                             "apps/"}}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},
                    {deps, [jsone,
                            {opentelemetry,
                             {git_subdir, "https://github.com/open-telemetry/opentelemetry-erlang",
                              {branch, "master"},
                              "apps/"}}]}]}]}.

{shell, [{apps, [pgo]},
         {config, "config/example.config"}]}.

{overrides, [{override, backoff, [{plugins, []}]}]}.

{project_plugins, [covertool]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{xref_checks,[undefined_function_calls, undefined_functions, locals_not_used,
              deprecated_function_calls, deprecated_functions]}.

{xref_ignores, []}.

{edoc_opts, [{preprocess, true},
             {overview, "doc/overview.edoc"}]}.

{ct_opts, [{ct_hooks, [cth_surefire]}]}.
