[
 {pgo, [{pools, [{default, #{pool_size => 5,
                             host => "127.0.0.1",
                             database => "test",
                             user => "test",
                             password => "password"}}]}]},

 {kernel,
  [{logger_level, debug},
   {logger,
    [{handler, default, logger_std_h,
      #{level => debug, formatter => {logger_formatter, #{single_line => true}}}}
    ]}]}
].
