[
  {pgsql_pool, [{pools, [{pool_1, [{size, 10},
                                   {workers, 2},
                                   {postgres, [{host, "127.0.0.1"},
                                               {database, "pgsql_pool"},
                                               {user, "pgsql_pool"},
                                               {password, "pgsql_pool"}]}]}]}]}
].
